body {
    background: #AAA2F6;
    font-family: 'Poppins', sans-serif;
}

#form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 3rem;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #0f2027;
    text-align: center;
}

#form button {
    padding: 0.5rem;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color:#8C98D4;
    border: none;
    border-radius: 4px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 0.6rem;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input{
    border-color: #ADD9A7;
}

.input-control.error input {
    border-color: #EB827F;
}

.input-control .error {
    color: #EB827F;
    font-size: 9px;
    height: 13px;
}
